In [136]:
import pandas as pd 
import seaborn as sns
import numpy as np 
from matplotlib import pyplot as plt 
from scipy import stats
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [137]:
list = [91,78,93,57,75,52,99,80,97,62,71,69,72,89,66,75,79,75,72,76,104,74,62,68,97,105,77,65,80,109,85,97,88,68,83,68,71,69,67,74,62,82,98,101,79,105,79,69,62,73]

In [138]:
df = pd.DataFrame(list, columns = ["values"])

In [139]:
list.sort()

In [140]:
len(list)

50

In [175]:
a = np.histogram(list,bins = 6 ,density = False)  
a

(array([ 2, 13, 18,  5,  7,  5], dtype=int64),
 array([ 52. ,  61.5,  71. ,  80.5,  90. ,  99.5, 109. ]))

In [228]:

liste = [ 2, 13, 18,  5,  7,  5]

In [229]:
dist = np.array([("52 -61.5"),("61.5-71"),("71-80.5"),("80.5-90"),("90-99.5"),("99.5-109")])
print(dist.ndim)
dist

1

array(['52 -61.5', '61.5-71', '71-80.5', '80.5-90', '90-99.5', '99.5-109'],
      dtype='<U8')

In [230]:
frequancy =  np.array([2,13,18,5,7,5])
frequancy.ndim

1

In [231]:
dff_1 = pd.DataFrame(frequancy, columns = ["frekans"])
dff["indec"] = dist
dff.set_index(dff["indec"])

          frekans     indec
indec
52 -61.5        2  52 -61.5
61.5-71        13   61.5-71
71-80.5        18   71-80.5
80.5-90         5   80.5-90
90-99.5         7   90-99.5
99.5-109        5  99.5-109

In [232]:
dff_1

   frekans
0        2
1       13
2       18
3        5
4        7
5        5

In [233]:
dff_1 = dff_1.set_index(dff["indec"])

In [234]:
dff_1

          frekans
indec
52 -61.5        2
61.5-71        13
71-80.5        18
80.5-90         5
90-99.5         7
99.5-109        5

In [235]:
df_cum = dff_1

In [237]:
cumulatif = [2,15,33,38,45,50]

In [238]:
df_cum.frekans = cumulatif

In [239]:
df_cum ## kümülatif

          frekans
indec
52 -61.5        2
61.5-71        15
71-80.5        33
80.5-90        38
90-99.5        45
99.5-109       50